# Ignorar la carpeta `shelf` completa
/shelf/

# Ignorar `workspace.xml`
workspace.xml

# Ignorar solicitudes HTTP basadas en el cliente del editor
/httpRequests/

# Ignorar archivos locales de almacenamiento de fuentes de datos
/dataSources/
/dataSources.local.xml